* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: var(--color-text-primary);
}

a,
a:active {
	text-decoration: none;
	color: var(--color-text-primary);
}

button,
button:active,
button:hover {
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	color: var(--color-text-primary);
}

input,
input:active,
input:hover,
input:focus {
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
}
