root = true

[*]
charset = utf-8
indent_size = 2
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
tab_width = 2

[*.{js,jsx,ts,tsx,vue}]
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = false
ij_visual_guides = none
ij_wrap_on_typing = false
ij_typescript_spaces_within_brackets = true

[*.md]
trim_trailing_whitespace = false
